/**
*
*	Name:		IRANSharp Font
*	Version:		3.0
*	Author:		Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:	June 10, 2017
*	Updated on:	June 10, 2017
*	Website:		http://fontiran.com
*	Copyright:	Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران شارپ یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANSharp fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (L9QR3)
--------------------------------------------------------------------------------------
*
**/
@font-face {
    font-family: iransharp;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iransharp/eot/iransharpwebbold.eot');
    src: url('../fonts/iransharp/eot/iransharp_bold_web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iransharp/woff2/iransharp_bold_web.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransharp/woff/iransharp_bold_web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransharp/ttf/iransharp_bold_web.ttf') format('truetype');
}

@font-face {
    font-family: iransharp;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iransharp/eot/iransharp_light_web.eot');
    src: url('../fonts/iransharp/eot/iransharp_light_web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iransharp/woff2/iransharp_light_web.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransharp/woff/iransharp_light_web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransharp/ttf/iransharp_light_web.ttf') format('truetype');
}

@font-face {
    font-family: iransharp;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iransharp/eot/iransharp_regular_web.eot');
    src: url('../fonts/iransharp/eot/iransharp_regular_web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iransharp/woff2/iransharp_regular_web.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransharp/woff/iransharp_regular_web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransharp/ttf/iransharp_regular_web.ttf') format('truetype');
}

* {
    font-family: iransharp ,roboto ,Arial
}

body {
    font-family: iransharp ,roboto ,Arial
}

.nav > li > a {
    font-family: iransharp ,roboto ,Arial !important;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: iransharp ,roboto ,Arial !important;
}

.alt-font {
    font-family: iransharp ,roboto ,Arial !important;
}

.cart-icon strong {
    font-family: iransharp ,roboto ,Arial !important;
}

.post-title {direction: rtl;}
.from_the_blog_excerpt {direction: rtl;}
.mfp-ready .mfp-arrow-right, .mfp-ready .mfp-arrow-left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
body.rtl .uppercase,
body.rtl h6,
body.rtl th,
body.rtl span.widget-title {
    letter-spacing: 0;
}
input[type='email'], input[type='date'], input[type='search'], input[type='number'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select, .select2-container .select2-choice, .select2-container .select2-selection {
    direction: rtl;
}
body.rtl .stars a+a {
    padding-right: .6em;
}
body.rtl .ux-timer {
    direction: ltr;
}

.post-title {direction: rtl;}
.from_the_blog_excerpt {direction: rtl;}
.mfp-ready .mfp-arrow-right, .mfp-ready .mfp-arrow-left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

body.rtl .box-list-view .box .box-image,
body.rtl .box-list-view .box .box-text,
body.rtl .box-vertical .box-image,
body.rtl  .box-vertical .box-text {direction: rtl}
/*.nav-dropdown {*/
/*    top: 100%;*/
/*}*/
@media (min-width: 850px) {
    .slider-nav-outside .flickity-prev-next-button.next {
        left: auto;
        right: 98%;
    }
}


body.rtl [data-animate="fadeInLeft"], body.rtl .slider [data-animate="fadeInLeft"] {
    transform: translate3d(-30px, 0, 0);
}
body.rtl .wishlist-popup {
    right: auto;
    left: 0;
}