@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Regular.eot');
    src: url('../fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Regular.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Regular.woff') format('woff'),
    url('../fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Bold.eot');
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Bold.woff') format('woff'),
    url('../fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Black.eot');
    src: url('../fonts/vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Black.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Black.woff') format('woff'),
    url('../fonts/vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Medium.eot');
    src: url('../fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Medium.woff') format('woff'),
    url('../fonts/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Light.eot');
    src: url('../fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Light.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Light.woff') format('woff'),
    url('../fonts/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Thin.eot');
    src: url('../fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/vazir/Vazir-Thin.woff') format('woff'),
    url('../fonts/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

* {
    font-family: "Vazir", sans-serif
}

body {
    font-family: "Vazir", sans-serif
}

.nav > li > a {
    font-family: "Vazir", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: "Vazir", sans-serif !important;
}

.alt-font {
    font-family: "Vazir", sans-serif !important;
}


.cart-icon strong {
    font-family: "Vazir", sans-serif !important;
}


.post-title {
    direction: rtl;
}

.from_the_blog_excerpt {
    direction: rtl;
}

.mfp-ready .mfp-arrow-right, .mfp-ready .mfp-arrow-left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

body.rtl .uppercase,
body.rtl h6,
body.rtl th,
body.rtl span.widget-title {
    letter-spacing: 0;
}

input[type='email'], input[type='date'], input[type='search'], input[type='number'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select, .select2-container .select2-choice, .select2-container .select2-selection {
    direction: rtl;
}

body.rtl .stars a + a {
    padding-right: .6em;
}

body.rtl .ux-timer {
    direction: ltr;
}

.post-title {
    direction: rtl;
}

.from_the_blog_excerpt {
    direction: rtl;
}

.mfp-ready .mfp-arrow-right, .mfp-ready .mfp-arrow-left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

body.rtl .box-list-view .box .box-image,
body.rtl .box-list-view .box .box-text,
body.rtl .box-vertical .box-image,
body.rtl .box-vertical .box-text {
    direction: rtl
}

/*.nav-dropdown {*/
/*    top: 100%;*/
/*}*/
@media (min-width: 850px) {
    .slider-nav-outside .flickity-prev-next-button.next {
        left: auto;
        right: 98%;
    }
}


body.rtl [data-animate="fadeInLeft"], body.rtl .slider [data-animate="fadeInLeft"] {
    transform: translate3d(-30px, 0, 0);
}

body.rtl .wishlist-popup {
    right: auto;
    left: 0;
}